
ng-select {
    background-color: var(--bs-gray-100);
    border-color: var(--bs-gray-100);
    color: var(--bs-gray-700);
    //border: 1px solid var(--bs-gray-300);
    border-radius: 0.475rem;
    padding-bottom: 0em!important;
    padding-left: 1em!important;
    padding-right: 0.5em;
    border-width: 0px;
}
