
<app-modal #modal [modalConfig]="modalConfig">
    <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="registerFormSubmit()">

    <div class="modal-body">

    <div class="row">
        <div class="form-group">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" formControlName="titulo" class="form-control form-control-solid text-capitalize" placeholder="Nombre del formulario" required 
            [ngClass]="{
                        'is-invalid': f.titulo.invalid && (f.titulo.dirty || f.titulo.touched), 
                        'is-valid': f.titulo.valid 
                        }"
            >
            <div *ngIf="f.titulo.errors" class="invalid-feedback">
                <div *ngIf="f.titulo.errors?.['required']">Name is required!</div>
                <div *ngIf="f.titulo.errors?.['minlength']">Minimo 4 po!</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mb-2">
            <div class="fv-row">
                <label  class="form-label">Descripción</label>
                <input type="text" formControlName="descripcion" class="form-control form-control-solid h-input text-capitalize" placeholder="Descripción del formulario" />
                
            </div>
        </div>       
    </div>
    <div class="row">
        <div class="col-md-6 mb-2">
            <div class="fv-row">                
                <label for="ApellidoInput" class="form-label">Estado</label>
                <ng-select formControlName="enabled" class="form-control form-control-solid"
                    [ngClass]="{
                        'is-invalid': (f.enabled.invalid && (f.enabled.dirty || f.enabled.touched)),
                        'is-valid': f.enabled.valid
                    }"                >
                    @for ( item of items; track item.id ){
                        <ng-option [value]="item.id" [disabled]="">{{item.name}}</ng-option>
                    }
                </ng-select>
                <div *ngIf="f.enabled.errors" class="invalid-feedback">
                    <div *ngIf="f.enabled.errors?.['required']">Estado is required!</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer bg-light p-2">   
    <button type="button" class="btn btn-light-dark" (click)="CerrarModal()"
    *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()">
      {{ modalConfig.closeButtonLabel }}
    </button>
    <button type="submit" [disabled]="formulario.invalid" class="btn btn-succes">Registrar

    </button>
    
  </div>
</form>
</app-modal>
