<div class="d-flex overflow-auto h-45px justify-content-md-center mb-1">
    <ul
      class="
        nav nav-stretch nav-line-tabs nav-line-tabs-2x
        border-transparent
        fs-5
        fw-bolder
        flex-nowrap
      "
    >
    @if(!permi || permi.clasificaciones.p1){
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="clasificaciones"
          routerLinkActive="active"
        >
          Clasificaciones
        </a>
      </li>
    }
    @if(!permi || permi.departamentos.p1){
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="departamentos"
          routerLinkActive="active"
        >
          Departamentos
        </a>
      </li>
    }
    @if(!permi || permi.especies.p1){
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="especies"
          routerLinkActive="active"
        >
          Especies
        </a>
      </li>
    }
      @if(!permi || permi.flotas.p1){
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="flotas"
          routerLinkActive="active"
        >
          Flotas
        </a>
      </li>
    }
    @if(!permi || permi.lugaresm.p1){
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="lugaresm"
          routerLinkActive="active"
        >
          LugaresM
        </a>
      </li>
    }
    @if(!permi || permi.naves.p1){
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="naves"
          routerLinkActive="active"
        >
          Naves
        </a>
      </li>
    }
    @if(!permi || permi.personas.p1){
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="personas"
          routerLinkActive="active"
        >
          Personas
        </a>
      </li>
    }
    @if(!permi || permi.plantas.p1){
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="plantas"
          routerLinkActive="active"
        >
          Plantas
        </a>
      </li>
    }
    @if(!permi || permi.puertos.p1){
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="puertos"
          routerLinkActive="active"
        >
          Puertos
        </a>
      </li>
    }
    </ul>
  </div>

  <router-outlet></router-outlet>