<div class="d-flex overflow-auto h-55px">
    <ul
      class="
        nav nav-stretch nav-line-tabs nav-line-tabs-2x
        border-transparent
        fs-5
        fw-bolder
        flex-nowrap
      "
    >
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="/biologico/adm/clasificaciones"
          routerLinkActive="active"
        >
          Clasificaciones
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="/biologico/adm/departamentos"
          routerLinkActive="active"
        >
          Departamentos
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="/biologico/adm/especies"
          routerLinkActive="active"
        >
          Especies
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="/biologico/adm/flotas"
          routerLinkActive="active"
        >
          Flotas
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="/biologico/adm/lugaresm"
          routerLinkActive="active"
        >
          LugaresM
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="/biologico/adm/naves"
          routerLinkActive="active"
        >
          Naves
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="/biologico/adm/personas"
          routerLinkActive="active"
        >
          Personas
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="/biologico/adm/plantas"
          routerLinkActive="active"
        >
          Plantas
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-active-primary me-6"
          routerLink="/biologico/adm/puertos"
          routerLinkActive="active"
        >
          Puertos
        </a>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>