<ng-template #modal>
  <div class="modal-content">
    <div class="modal-header bg-light p-2 ps-5">
      <!--begin::Modal title-->
      <h2 class="modal-title text-uppercase">{{ modalConfig.modalTitle }}</h2>
      <!--end::Modal title-->
      <!--begin::Close-->
      <div class="btn btn-icon btn-sm btn-active-dark ms-2" (click)="dismiss()"
        *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()">
        <app-keenicon name="cross" class="fs-3x"></app-keenicon>
        <!--end::Svg Icon-->
      </div>
      <!--end::Close-->
    </div>
    <ng-content></ng-content>
    
   
  </div>
</ng-template>
