<app-modal #modal [modalConfig]="modalConfig">
    <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="Submit()">

    <div class="modal-body">
        <input type="hidden" formControlName="id" class="form-control form-control-solid" />
    <div class="row">
        <div class="col-md-6 mb-2">
            <div class="form-group">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" formControlName="nombre" class="form-control form-control-solid text-capitalize" placeholder="Nombre de la persona" required 
                    [ngClass]="{
                                'is-invalid': f.nombre.invalid && (f.nombre.dirty || f.nombre.touched), 
                                'is-valid': f.nombre.valid 
                                }"
                    >
                <div *ngIf="f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="f.nombre.errors?.['required']">El campo no puede estar vacío</div>
                    <div *ngIf="f.nombre.errors?.['minlength']">Minimo 4 caracteres</div>
                    <div *ngIf="f.nombre.errors?.['maxlength']">Máximo 100 caracteres</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-2">
            <div class="fv-row">                
                <label for="ApellidoInput" class="form-label">Estado</label>
                <ng-select formControlName="enabled" class="form-control form-control-solid"
                    [ngClass]="{
                        'is-invalid': (f.enabled.invalid && (f.enabled.dirty || f.enabled.touched)),
                        'is-valid': f.enabled.valid
                    }"                >
                    @for ( item of items; track item.id ){
                        <ng-option [value]="item.id" [disabled]="">{{item.name}}</ng-option>
                    }
                </ng-select>
                <div *ngIf="f.enabled.errors" class="invalid-feedback">
                    <div *ngIf="f.enabled.errors?.['required']">El campo no puede estar vacío</div>
                    <div *ngIf="f.enabled.errors?.['booleanValidator']">Valor no válido</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer bg-light p-2">   
    <button type="button" class="btn btn-light-dark" (click)="CerrarModal()"
    *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()">
      {{ modalConfig.closeButtonLabel }}
    </button>
    <button #boton type="submit" [disabled]="formulario.invalid" class="btn btn-success">
        @if(editar){
            Actualizar
        }
        @else {
            Registrar
        }
    </button>
  </div>
</form>
</app-modal>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>