<p>dashboard works!</p>
<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
      hgjghj
  jhjhgj
    </div>
    <!--end::Col-->
  
    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
      jhgjgh
    </div>
    <!--end::Col-->
  
  
    <!--begin::Col-->
    
    <!--end::Col-->
  </div>
  <!--end::Row-->
  
  <!--begin::Row-->
  <div class="row gx-5 gx-xl-10">
    <!--begin::Col-->
    <div class="col-xxl-6 mb-5 mb-xl-10">
        hgfhfg
    </div>
    <!--end::Col-->
  
    <!--begin::Col-->
    <div class="col-xxl-6 mb-5 mb-xl-10">
        fgdgdf
    </div>
    <!--end::Col-->
  </div>
  <!--end::Row-->
  
  <!-- begin::Row -->
  <div class="row gy-5 gx-xl-8">
    <div class="col-xxl-4">
    fghfgh
    </div>
    <div class="col-xl-8">
        hgfhjgf
    </div>
  </div>
  <!-- end::Row -->
  
  <!-- begin::Row -->
  <div class="row gy-5 g-xl-8">
    <div class="col-xl-4">
        hfghfg
    </div>
    <div class="col-xl-4">
        gdfg
    </div>
    <div class="col-xl-4">
        dfg
    </div>
  </div>
  <!-- end::Row -->
  
  <div class="row g-5 gx-xxl-8">
    <div class="col-xxl-4">
     hfgh
    </div>
    <div class="col-xxl-8">
        fdsf
    </div>