<app-modal #modal [modalConfig]="modalConfig">
    <form [formGroup]="formulario" >
        <div class="row">
            <div class="col mb-2">
                <div class="fv-row">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control form-control-solid h-input text-capitalize" placeholder="Ingrese el nombre" id="Nombre" formControlName="Nombre" [ngClass]="{
                        'is-invalid': f.Nombre.invalid && (f.Nombre.dirty || f.Nombre.touched), 
                        'is-valid': f.Nombre.valid 
                        }" />
                </div>
            </div>
            <div class="col mb-2">
                <div class="fv-row">
                    <label for="Apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control form-control-solid h-input text-capitalize" placeholder="Ingrese el Apellido" id="Apellido" formControlName="Apellido" [ngClass]="{
                        'is-invalid': f.Apellido.invalid && (f.Apellido.dirty || f.Apellido.touched), 
                        'is-valid': f.Apellido.valid 
                        }" />  
                </div>
            </div>
        </div>
        <div class="row">
            <label for="Auto" class="form-label">Auto</label>
            <ng-select [multiple]="true" class="ng-appearance-outline" formControlName="Auto" id="Auro" [ngClass]="{
                'ng-invalid': f.Auto.invalid && (f.Auto.dirty || f.Auto.touched), 
                'ng-valid': f.Auto.valid 
                }" >
                @for ( car of cars; track car.id ){
                    console.log(car)
                    <ng-option [value]="car.id">{{car.name}}</ng-option>
                }
            </ng-select>
        </div>
        <div class="row">
            <div class="fv-row">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control form-control-solid h-input text-lowercase " placeholder="Ingrese el email" id="Email" formControlName="Email" [ngClass]="{
                    'is-invalid': f.Email.invalid && (f.Email.dirty || f.Email.touched), 
                    'is-valid': f.Email.valid 
                    }" />  
            </div>
        </div>
        <!-- <button type="submit" [disabled]="!formulario.valid">Submit</button> -->
    </form>
    {{formulario.controls.Nombre.value}}
    {{formulario.controls.Apellido.value}}
    {{formulario.controls.Auto.value}}
    {{formulario.controls.Email.value}}
    <button type="submit" (click)="registerFormSubmit()">Submit</button>
</app-modal>
